SpringClient/src/main/resources/META-INF/qschedule-0.0.2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.qunar.com/schema/qschedule"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.qunar.com/schema/qschedule">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the qschedule provided by Qunar. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="configType">
        <xsd:attribute name="address" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 注册中心地址 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 接收调度消息的端口，默认是 20070. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="taskType">
        <xsd:attribute name="id" type="xsd:ID" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 任务的名称，如果不提供则使用任务的类名全称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 被调度的bean实例 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="method" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 执行任务的方法 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="config" type="configType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ QSchedule的配置节点 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="task" type="taskType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 配置一个QSchedule任务 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>